@import url("https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,700&display=swap");
* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 10px;
}
body {
  color: white;
  font-family: "Noto Sans JP", sans-serif;
}

.wrapper {
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}
.parallax-layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.parallax-layer .base {
  transform: translateZ(0);
}

.background {
  transform: translateZ(-2px) scale(3);
  background-image: url("./public/pierre-bamin-X16N5J0uRD4-unsplash.jpg");
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  background-size: cover;
  height: 180vh;
}

.container {
  background-color: rgba(0, 0, 0, 0.95);
  display: flex;
}

#top-logo {
  width: 300px;
  padding-bottom: 60px;
}

.top {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
  text-align: center;
  border-top: 8px solid rgb(164, 164, 96);
  height: 100vh;
  padding: 0 100px;
}

h1 {
  font-weight: normal;
}

.middle {
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 80px 20px;
  padding: 10%;
  border-radius: 8px;
}

.description {
  display: flex;
  flex-direction: column;
}

h2 {
  font-size: 3.5rem;
  color: rgb(164, 164, 96);
  font-weight: normal;
  padding-bottom: 20px;
}

.description p {
  padding: 20px 0;
  font-size: 1.5rem;
}

.contact-info-line {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.contact-info p {
  font-size: 1.7rem;
  padding: 10px 0;
}

.fas {
  font-size: 3rem;
  padding: 20px;
  color: white;
}

a {
  text-decoration: none;
  color: rgb(143, 97, 128);
}

footer {
  height: 75px;
  background-color: rgba(0, 0, 0, 0.95);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 100px;
  font-size: 1rem;
}

.footer-contact {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.footer-contact p {
  padding-right: 20px;
}

@media (min-width: 768px) {
  html {
    font-size: 14px;
  }
  .middle {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 100px 50px;
    padding: 5%;
  }
  .description {
    width: 40%;
  }
  .description p {
    font-size: 1.2rem;
  }
  footer {
    padding: 10px 20px;
  }
  .footer-contact p {
    padding-right: 10px;
  }
}
