@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  margin: 0;
  color: black;
  font-family: "Montserrat", sans-serif;
  background-color: #ffffff;
  border-top: 8px solid #909044;
  min-height: 100vh;
}

a {
  text-decoration: none;
  color:#8B587D
}

.nav {
  display: none;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
  padding: 0 16px;
}

.nav .fas {
  color:#8B587D;
  font-size: 1.5rem;
}

#logo {
  width: 100%;
  margin: 24px 0;
}

.main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  border-radius: 24px;
  max-width: 1440px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.divider-line {
  height: 8px;
  width: 160px;
  align-self: flex-end;
  background-color: #dec978;
  margin: 16px 0px 48px 0;
}

.intro p {
  padding: 20px 0;
  font-size: 1.8rem;
}

#illustration-top {
  width: calc(100% - 32px);
  margin: 16px;
}

#illustration-bottom {
  width: 100%;
  margin-top: 24px;
 }

.description {
  display: flex;
  flex-direction: column;
}

.description p {
  padding: 20px 0;
  font-size: 1.5rem;
}

.description span {
  font-weight: bold;
}

.contact-info {
  align-self: center;
}

.contact-info-line {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.contact-info p {
  font-size: 1.35rem;
  padding: 10px 0;
}

.fas {
  font-size: 2.8rem;
  padding: 20px 20px 20px 0;
  color:  #909044;
}

.contact-info a {
  font-weight: bold;
  color:  #909044;
}

footer {
  height: 75px;
  padding: 10px 20px;
  font-size: 1rem;
  min-width: 100vw;
  margin-top: 20px;
  position: relative;
  bottom: 0;
}

.footer-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
  align-items: center;
}

.footer-contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.footer-contact div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.author {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
}

.footer-contact p {
  padding-right: 10px;
}

@media (min-width: 500px) {
  .main {
    margin: 100px 50px;
  }

  footer {
    padding: 10px 100px;
    position: absolute;
    bottom: 0;
  }
  .footer-contact {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
  .author {
    flex-direction: row;
  }
  .author p:nth-child(1) {
    padding-right: 10px;
  }
  .footer-contact p {
    padding-right: 20px;
  }
}

@media (min-width: 769px) {
  html {
    font-size: 16px;
  }

  .nav {
    display: flex;
  }

  .main {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 5%;
    max-height: 700px;
  }

  #logo {
    width: 200px;
  }

  /* h1 {
    font-size: 4rem;
    padding-bottom: calc(5% - 10px);
  } */
  .content {
    flex-direction: row;
  }
  .description {
    width: 40%;
  }
  .description p {
    font-size: 1.2rem;
  }
  .description p:first-child {
    text-align: left;
  }
  .contact-info p {
    font-size: 1.5rem;
  }

  .fas {
    font-size: 3rem;
    padding: 20px;
    color: white;
  }
}

@media (min-width: 1440px) {
  .main {
    margin: 100px auto;
  }
}
